<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631105883336-tvd6jfrm623uuh502n3vjdv5a8ot75fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631105883336-tvd6jfrm623uuh502n3vjdv5a8ot75fd</string>
	<key>API_KEY</key>
	<string>AIzaSyCtW44W88PvFYxJ9ERFL1-0CKQYimbpyF8</string>
	<key>GCM_SENDER_ID</key>
	<string>631105883336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>design.rdconcepts.engager</string>
	<key>PROJECT_ID</key>
	<string>engage-timer</string>
	<key>STORAGE_BUCKET</key>
	<string>engage-timer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631105883336:ios:524d9d72d6a073f3</string>
	<key>DATABASE_URL</key>
	<string>https://engage-timer.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4186253562269967~5939269038</string>
</dict>
</plist>